.login{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: auto;
    padding: 30px;
    margin-top: 30px;
}

 input{
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid black;
    outline: none;
}

button{
    background-color: skyblue;
    border: none;
    outline: none;
    height: 30px;
}
